<div *ngIf="message" class="alert alert-success alert-dismissable">
    <span (click)="message=''" style="cursor:pointer;" class="close" data-dismiss="alert" aria-label="close">&times;</span>
    {{message}}
</div>
<div *ngIf="errorMessage" class="alert alert-danger alert-dismissable">
    <span (click)="errorMessage=''" style="cursor:pointer;" class="close" data-dismiss="alert" aria-label="close">&times;</span>
    {{errorMessage}}
</div>


<div style="position: fixed;
top: 4em;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1em;
width: 100%;
border-bottom: 1px solid silver;">
  <div><strong>Aktualny plik:</strong> <i>{{fileName}}</i></div>
  <div>
    <label for="file-upload" class="custom-file-upload top-bar"> Wczytaj plik</label>
    <input class="btn btn-secondary top-bar" id="file-upload" type="file" (change)="fileChanged($event)"/>
    <button class="btn btn-primary top-bar" (click)="reload()">Odśwież</button>
    <button class="btn btn-primary top-bar" (click)="saveRecords()">Zapisz</button>
    <button class="btn btn-primary top-bar" (click)="export()">Export</button>
  </div>  
</div>
<div style=" padding: 0 2em;position: absolute;top: 8.5em;overflow: auto;height: 82vh; width:100%; left:0;">
    <div *ngFor="let cat of categories">
      <div style="padding: 1em 0;
        font-weight: bold;
        font-size: 1.2em;">{{cat.label}}
      </div>
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th *ngFor="let header of displayHeaders">{{header}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of lists[cat.name]; let i = index" >
            <td>{{i}}</td>
            <td *ngFor="let column of row, let pos = index; let last = last" >
              <span *ngIf="!last">{{column}}</span>
              <select *ngIf="last" [(ngModel)]="row[row.length-1]">
                <option *ngFor="let c of categories" [ngValue]="c.label">{{c.label}}</option>
              </select>
              <button *ngIf="last" class="btn" style="margin:0; padding:0;background-color:inherit;" (click)="openDialog(row[row.length-1])">
                <img src="/assets/icons/edit2.svg" width="20" height="20" class="d-inline-block align-top" alt="">
              </button>
            </td>
          </tr>
          <tr *ngIf="displayRow">
            <td>Nowy</td>
            <td>
                <select [(ngModel)]="newRow.bank">
                  <option>ING</option>
                  <option>Millenium</option>
                </select>
            </td>
            <td><input [(ngModel)]="newRow.date"/></td>
            <td><input [(ngModel)]="newRow.desc"/></td>
            <td><input [(ngModel)]="newRow.amount"/></td>
            <td>
              <select [(ngModel)]="newRow.category">
                <option *ngFor="let c of categories" [ngValue]="c.label">{{c.label}}</option>
              </select>
            </td>
          </tr>
      </tbody>
      </table>
      <button class="btn btn-primary bottom-bar" *ngIf="!displayRow" (click)="displayRow = true;">Nowy Wiersz</button>
      <button class="btn btn-primary bottom-bar" *ngIf="displayRow" (click)="addRow(lists[cat.name],newRow);">Dodaj</button>
      <button class="btn btn-secondary bottom-bar" *ngIf="displayRow" (click)="displayRow = false;">Anuluj</button>
    </div>
  </div>