<div *ngIf="message" class="alert alert-success alert-dismissable">
    <span (click)="message=''" style="cursor:pointer;" class="close" data-dismiss="alert" aria-label="close">&times;</span>
    {{message}}
</div>
<div *ngIf="errorMessage" class="alert alert-danger alert-dismissable">
    <span (click)="errorMessage=''" style="cursor:pointer;" class="close" data-dismiss="alert" aria-label="close">&times;</span>
    {{errorMessage}}
</div>

<h1 mat-dialog-title>Edytuj Kategorie</h1>
<mat-dialog-content>
        <div style="margin: 1em 0">
            <span style="width: 10em;display: inline-block;">Kategoria: </span> 
            <select [(ngModel)]="category">
                <option *ngFor="let cat of categories"  [ngValue]="cat">{{cat.label}}</option>
                <option [ngValue]="newModel">Nowa</option>
            </select>
        </div>
        <div *ngIf="category.name==='nowa'" style="margin: 1em 0">
                <span style="width: 10em;display: inline-block;">Nazwa kategorii: </span> 
                <input [(ngModel)]="newCategoryLabel"/></div>
        <div style="margin: 1em 0">
            <span style="width: 10em;display: inline-block;">
                Lista słów:
            </span>
            <span><input [(ngModel)]="newWord"/><button (click)="addWord()">Dodaj</button></span>
            <div style="height: 50%;overflow:auto;">
                <div style="padding-left: 10em;" *ngFor="let word of category.keyWords;let i = index;">
                    {{word}}
               </div>
            </div>
            
        </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button *ngIf="category.name!=='nowa'" mat-button (click)="saveModel()">Zapisz</button>
  <button *ngIf="category.name==='nowa'" mat-button (click)="createModel()">Stwórz nową</button>
  <button mat-button mat-dialog-close>Anuluj</button>
</mat-dialog-actions>