
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0 2em;position: fixed; height: 4em; width:100%; left: 0; box-shadow:0 0 20px 2px rgba(0,0,0,0.5)">
      <a class="navbar-brand mb-0 h1" href="#">
        <img src="/assets/icons/chart.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Rozliczenie 
      </a>
      <nav class="nav">
        <a class="nav-link active" routerLink="/newFile">Nowy plik</a>
        <a class="nav-link" routerLink="/history">Historia</a>
        <a class="nav-link" routerLink="/category">Kategorie</a>
        <a class="nav-link" routerLink="/category">Statystyki</a>
      </nav>
  </nav>
  
</div>
<router-outlet></router-outlet>
